@charset "UTF-8";
/* Header */
header {
  background: #181818;
  position: fixed;
  width: 22%;
  max-width: 500px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #253344;
  border-top: none;
  z-index: 999;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 13em;
}

nav li {
  border: 2px solid #253344;
  margin: 2px;
  border-radius: 5px;
}

nav a {
  display: block;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #1d1d1d), color-stop(50%, #FFF));
  background-image: linear-gradient(to right, #1d1d1d 50%, #FFF 50%);
  background-size: 200% 100%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: background-position, color;
  transition-property: background-position, color;
  padding: 10px 0 10px 25%;
}

nav a:hover {
  background-position: -100% 0;
  color: red;
}

footer {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .logo-github {
  width: 60px;
  height: 60px;
  opacity: 0.6;
  -webkit-transition: .3s, background-color;
  transition: .3s, background-color;
}

footer .logo-github:hover {
  opacity: 0.8;
}

footer .logo-linkedin {
  width: 70px;
  opacity: 0.8;
}

footer .logo-linkedin:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  header {
    top: 70px;
    background: #181818;
    width: 100%;
    max-width: 100%;
    height: 45vh;
    z-index: 999;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    visibility: hidden;
  }
  nav ul {
    margin-top: 0;
  }
  nav a {
    padding: 5px 0 5px 40%;
  }
  nav a:active {
    color: #f0b0be !important;
    background-color: #1d1d1d;
  }
  footer .logo-github {
    width: 45px;
    height: 45px;
    opacity: 0.6;
    -webkit-transition: .3s, background-color;
    transition: .3s, background-color;
  }
  footer .logo-github:hover {
    opacity: 0.8;
  }
  footer .logo-linkedin {
    width: 55px;
    opacity: 0.8;
  }
  footer .logo-linkedin:hover {
    opacity: 1;
  }
}

main {
  width: 78%;
  left: 50px;
}

section {
  padding-top: 8em;
  height: 100vh;
}

.see-more {
  text-align: center;
}

.see-more .see-more-text {
  color: #1d1d1d;
  font-size: 1.6rem;
  margin-bottom: 1em;
  text-shadow: 3px 3px 10px #2b2344;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #FFF;
}

.welcome .welcome-heading-bg {
  position: relative;
  background-image: url("./images/—Pngtree—colorful smoke abstract frame free_5390486.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  -webkit-animation-name: welcome-slide-in;
          animation-name: welcome-slide-in;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes welcome-slide-in {
  from {
    margin-top: 10em;
  }
  to {
    margin-top: 0;
  }
}

@keyframes welcome-slide-in {
  from {
    margin-top: 10em;
  }
  to {
    margin-top: 0;
  }
}

.welcome .welcome-heading {
  color: #1d1d1d;
  width: 45%;
  min-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 4em;
  text-shadow: 3px 3px 10px #ad9aee;
  opacity: 0.8;
}

.welcome .welcome-heading span {
  font-weight: bolder;
}

.welcome .welcome-check-me {
  color: #1d1d1d;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.skills .skills-background-img-container {
  background-image: url("./images/grijze-streep.png");
}

.skills .skills-text-container {
  padding-left: 50px;
}

.skills .skills-heading {
  color: #f0f0f0;
}

.skills .skills-intro {
  width: 60%;
  min-width: 400px;
  max-width: 700px;
}

.skills .skills-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  margin-top: 7em;
  background: black;
  max-width: 600px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.95;
}

.skills .skills-logos img {
  width: 60px;
}

.skills .skills-logos .html-logo {
  width: 75px;
}

.skills .skills-logos .wordpress-logo {
  width: 65px;
}

.skills .skills-logos-animation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  z-index: 999;
}

.skills .skills-see-more {
  margin-top: 4em;
}

.skills .skills-see-more .see-more-text {
  color: #f0f0f0;
}

.work {
  padding: 8em 50px 0 50px;
  background: #FFF;
  background-image: url("./images/grijze-streep-2.png");
  background-size: cover;
}

.work .work-heading {
  color: #1d1d1d;
}

.work .work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0.95;
}

.work .work-item {
  border: 2px solid #253344;
  height: 200px;
  -webkit-box-shadow: 3px 3px 10px #251266;
          box-shadow: 3px 3px 10px #251266;
  background: #1d1d1d;
  -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 10px;
  margin-top: 10px;
  color: #f0f0f0;
  max-width: 300px;
  width: 300px;
  position: relative;
}

.work .work-item .work-item-hover-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work .work-item .work-item-link {
  -webkit-transition: width 5s;
  transition: width 5s;
  display: none;
  visibility: hidden;
  width: 300px;
  text-align: center;
}

.work .work-item .work-item-link button {
  display: inline-block;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: white;
  margin: 10px;
}

.work .work-item:hover {
  -webkit-box-shadow: 10px 10px 20px #251266;
          box-shadow: 10px 10px 20px #251266;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.work .work-item:hover .work-item-hover-bg {
  background: rgba(29, 29, 29, 0.8);
}

.work .work-item:hover .work-item-link {
  display: block;
  visibility: visible;
}

.work .work-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work .work-see-more {
  margin-top: 4em;
}

.experience {
  height: auto;
  background-image: url("./images/grijze-streep-3.png");
  background-size: cover;
  padding-left: 50px;
}

.experience .experience-heading {
  color: #f0f0f0;
}

.experience .experience-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
  max-width: 1000px;
  margin-top: 2em;
  opacity: 0.95;
}

.experience .experience-item {
  background-color: #181818;
  width: 45%;
  min-width: 270px;
  margin-bottom: 2px;
  padding: 10px;
  border: 2px solid #253344;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience .experience-item h3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.experience .experience-item img {
  margin: 0 auto;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 80px;
  height: 80px;
}

.experience .experience-item .experience-item-info {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.experience .experience-item .experience-item-date {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 0.8rem;
}

.experience .experience-item-italki img {
  height: 60px;
}

.experience .experience-item-techgrounds img {
  width: 100px;
  height: 50px;
  padding-top: 1.3em;
}

.experience .experience-item-teacher img {
  width: 100px;
  height: 50px;
}

.experience .experience-see-more {
  margin-top: 4em;
}

.experience .experience-see-more .see-more-text {
  color: #f0f0f0;
}

.contact {
  padding-left: 50px;
  padding-top: 8em;
  height: 100vh;
  background-color: #FFF;
  background-image: url("./images/bibw-d-body-bottom-quote-water.png");
}

.contact .contact-heading {
  color: #1d1d1d;
  text-shadow: 3px 3px 10px #ad9aee;
  opacity: 0.8;
}

.contact form {
  opacity: 0.9;
  width: 85%;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 3px 3px 10px #3d1cf8;
          box-shadow: 3px 3px 10px #3d1cf8;
  background: #370d68;
}

.contact .name-mail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .name,
.contact .mail {
  width: 50%;
  border: 1px solid #253344;
}

.contact .name input,
.contact .mail input,
.contact .subject input,
.contact .message textarea {
  width: 100%;
  height: 40px;
  background: #181818;
  color: white;
  border: none;
}

.contact .name input::-webkit-input-placeholder,
.contact .mail input::-webkit-input-placeholder,
.contact .subject input::-webkit-input-placeholder,
.contact .message textarea::-webkit-input-placeholder {
  color: white;
}

.contact .name input:-ms-input-placeholder,
.contact .mail input:-ms-input-placeholder,
.contact .subject input:-ms-input-placeholder,
.contact .message textarea:-ms-input-placeholder {
  color: white;
}

.contact .name input::-ms-input-placeholder,
.contact .mail input::-ms-input-placeholder,
.contact .subject input::-ms-input-placeholder,
.contact .message textarea::-ms-input-placeholder {
  color: white;
}

.contact .name input::placeholder,
.contact .mail input::placeholder,
.contact .subject input::placeholder,
.contact .message textarea::placeholder {
  color: white;
}

.contact .subject,
.contact .message {
  border: 1px solid #253344;
}

.contact .message textarea {
  height: 8em;
}

.contact .form-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contact .form-buttons-container input {
  width: 50%;
  background: #181818;
  color: white;
}

@media (max-width: 767px) {
  .see-more .see-more-text {
    font-size: 1.3rem;
  }
  main {
    width: 100%;
    margin-top: 50px;
    left: 0;
  }
  section {
    padding-top: 6em;
    height: auto;
  }
  .welcome {
    height: 90vh;
  }
  .welcome .welcome-heading {
    min-width: 300px;
  }
  .welcome .welcome-heading-bg {
    height: 50vh;
  }
  .skills .skills-text-container {
    padding-left: 25px;
  }
  .skills .skills-intro {
    width: 90%;
    min-width: auto;
  }
  .skills .skills-logos {
    width: 100%;
    margin-left: 0;
    max-width: none;
  }
  .skills .skills-see-more {
    margin-top: 3em;
  }
  .work {
    padding: 6em 0 0 25px;
  }
  .work .work-container {
    width: 89%;
  }
  .work .work-item {
    width: 100%;
    margin: 0 0 7px 0;
    height: 300px;
  }
  .experience {
    padding-left: 25px;
  }
  .experience .experience-container {
    width: 89%;
  }
  .experience .experience-item {
    width: 100%;
  }
  .contact {
    padding-top: 6em;
    padding-left: 25px;
  }
  .contact .name-mail-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .name,
  .contact .mail {
    width: 100%;
  }
  .contact .form-buttons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .form-buttons-container input {
    width: 100%;
  }
}

/* Typography */
h1,
h2,
h3 {
  color: #fff;
  font-family: "eurostile", sans-serif;
}

p,
li, textarea, input {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  color: #fff;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

a:link,
a:visited {
  color: #f0f0f0;
  text-decoration: none;
}

nav a {
  font-size: 1.1rem;
  font-weight: bold;
}

.work-item button {
  font-size: 0.9rem;
  font-weight: bold;
}

.experience-item p {
  font-size: 1.2rem;
  padding: 1em 0;
}

.skills p,
.skills li {
  color: #f0f0f0;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  li {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}

/* General stylings */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;
  background: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fixed-space-container {
  width: 22%;
  max-width: 500px;
}

h1,
h2,
h3,
p,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

@media (max-width: 767px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fixed-space-container {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
  }
}

@media (max-width: 767px) {
  .hamburger {
    position: fixed;
    padding-top: 20px;
    padding-left: 20px;
    width: 60px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 999;
  }
  .hamburger-background {
    position: fixed;
    padding-top: 20px;
    padding-left: 20px;
    width: 70px;
    height: 50px;
    background: #3f3e3e;
    opacity: 0.5;
    z-index: 999;
  }
  .hamburger-stripe {
    height: 7px;
    width: 40px;
    background: white;
    border-radius: 10px;
    z-index: 999;
  }
  .hamburger-menu-open-bg {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #1d1d1d;
    border: 2px solid #253344;
    visibility: hidden;
    z-index: 999;
  }
}

.arrow {
  display: inline-block;
  padding: 3px;
  transform: scale(2) rotate(45deg);
  -webkit-transform: scale(3) rotate(45deg);
  -webkit-animation-name: moving-arrow-2;
          animation-name: moving-arrow-2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  position: relative;
  margin-bottom: 1em;
  border-radius: 1px;
}

@-webkit-keyframes moving-arrow-2 {
  from {
    bottom: 0;
  }
  to {
    bottom: 1em;
  }
}

@keyframes moving-arrow-2 {
  from {
    bottom: 0;
  }
  to {
    bottom: 1em;
  }
}

.arrow-white {
  border: solid white;
  border-width: 0 3px 3px 0;
}

.arrow-black {
  border: solid #1d1d1d;
  border-width: 0 3px 3px 0;
}

@media (max-width: 767px) {
  .arrow {
    transform: scale(2) rotate(45deg);
    -webkit-transform: scale(2) rotate(45deg);
  }
}

.skills .skills-background-img-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-animation-name: flickering-line;
          animation-name: flickering-line;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  background-size: cover;
  overflow: hidden;
}

@-webkit-keyframes flickering-line {
  0% {
    background-size: cover;
  }
  0.5% {
    background-size: 0 0;
  }
  1% {
    background-size: cover;
  }
  1.5% {
    background-size: 0 0;
  }
  2% {
    background-size: cover;
  }
  2.1% {
    background-size: 0 0;
  }
  2.3% {
    background-size: cover;
  }
  2.4% {
    background-size: 0 0;
  }
  2.6% {
    background-size: cover;
  }
  3% {
    background-size: 0 0;
  }
  3.1% {
    background-size: cover;
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    background-size: cover;
    opacity: 1;
  }
}

@keyframes flickering-line {
  0% {
    background-size: cover;
  }
  0.5% {
    background-size: 0 0;
  }
  1% {
    background-size: cover;
  }
  1.5% {
    background-size: 0 0;
  }
  2% {
    background-size: cover;
  }
  2.1% {
    background-size: 0 0;
  }
  2.3% {
    background-size: cover;
  }
  2.4% {
    background-size: 0 0;
  }
  2.6% {
    background-size: cover;
  }
  3% {
    background-size: 0 0;
  }
  3.1% {
    background-size: cover;
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    background-size: cover;
    opacity: 1;
  }
}

.skills .ani-cont-1 {
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: sliding-logos-1;
          animation-name: sliding-logos-1;
}

@-webkit-keyframes sliding-logos-1 {
  0% {
    -webkit-transform: translateX(190%);
            transform: translateX(190%);
  }
  100% {
    -webkit-transform: translateX(-190%);
            transform: translateX(-190%);
  }
}

@keyframes sliding-logos-1 {
  0% {
    -webkit-transform: translateX(190%);
            transform: translateX(190%);
  }
  100% {
    -webkit-transform: translateX(-190%);
            transform: translateX(-190%);
  }
}

.skills .ani-cont-2 {
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: sliding-logos-2;
          animation-name: sliding-logos-2;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
  visibility: hidden;
}

@-webkit-keyframes sliding-logos-2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(-280%);
            transform: translateX(-280%);
  }
}

@keyframes sliding-logos-2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(-280%);
            transform: translateX(-280%);
  }
}
/*# sourceMappingURL=styles.css.map */