$light-gray: #4C5F7A;
$yellow-orange: #F6C90E;
$light-pink: rgb(240, 176, 190);


// $heading-color: rgb(255, 255, 43);
$heading-color: #fff;
$text-color: #f0f0f0;
$text-color-2: rgb(240, 176, 190);
$text-color-3: #e2e2e2;
$border-color: #253344;
$background-color: #1d1d1d;
$background-color-2: #181818;
$background-color-light: #f0f0f0;
$background-color-super-light: #FFF;

