@media (max-width: 767px) {
  .hamburger {
    position: fixed;
    padding-top: 20px;
    padding-left: 20px;
    width: 60px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
    
  }

  .hamburger-background {
    position: fixed;
    padding-top: 20px;
    padding-left: 20px;
    width: 70px;
    height: 50px;
    background: rgb(63, 62, 62);
    opacity: 0.5;
    z-index: 999;
  }
  
  .hamburger-stripe {
    height: 7px;
    width: 40px;
    background: white;
    border-radius: 10px;
    z-index: 999;
  }

  .hamburger-menu-open-bg {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: $background-color;
    border: 2px solid $border-color;
     visibility: hidden;
    z-index: 999;
  }
}

