main {
  width: 78%;
  left: 50px;
}

section {
  padding-top: 8em;
  height: 100vh;
}

.see-more {
  text-align: center;

  .see-more-text {
    color: $background-color;
    font-size: 1.6rem;
    margin-bottom: 1em;
    text-shadow: 3px 3px 10px rgb(43, 35, 68);
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: $background-color-super-light;

  .welcome-heading-bg {
    position: relative;
    background-image: url("./images/—Pngtree—colorful smoke abstract frame free_5390486.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    animation-name: welcome-slide-in;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transform: scale(1.3);
    @keyframes welcome-slide-in {
      from {
        margin-top: 10em;
      }
      to {
        margin-top: 0;
      }
    }
  }

  .welcome-heading {
    color: $background-color;
    width: 45%;
    min-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 4em;
    text-shadow: 3px 3px 10px rgb(173, 154, 238);
    opacity: 0.8;
    span {
      font-weight: bolder;
    }
  }

  .welcome-check-me {
    color: $background-color;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  background-size: 0 0;
  justify-content: space-between;

  .skills-background-img-container {
    background-image: url("./images/grijze-streep.png");
    @extend %background-img-container;
  }

  .skills-text-container {
    padding-left: 50px;
  }

  .skills-heading {
    color: $background-color-light;
  }

  .skills-intro {
    width: 60%;
    min-width: 400px;
    max-width: 700px;
  }

  .skills-logos {
    display: flex;
    gap: 1em;
    padding-left: 50px;
    margin-top: 7em;
  }

  .skills-logos {
    img {
      width: 60px;
    }
    .html-logo {
      width: 75px;
    }
    .wordpress-logo {
      width: 65px;
    }
  }

  .skills-container {
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    margin-top: 6em;
    flex-wrap: wrap;
    row-gap: 35px;
    column-gap: 35px;
  }

  .skills-items {
    border: 2px solid $border-color;
    padding: 1em;
    min-width: 200px;
    box-shadow: 3px 3px 10px rgb(37, 18, 102);
    &:hover {
      box-shadow: 10px 10px 20px rgb(37, 18, 102);
    }
  }

  .skills-lists {
    list-style: square;
    padding-left: 20px;
  }

  .skills-see-more {
    margin-top: 4em;

    .see-more-text {
      color: $background-color-light;
    }
  }
}

.work {
  padding: 8em 50px 0 50px;
  background: $background-color-super-light;
  background-image: url("./images/grijze-streep-2.png");
  background-size: cover;

  .work-heading {
    color: $background-color;
  }

  .work-container {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.95;
  }

  .work-item {
    border: 2px solid $border-color;
    padding: 1em;
    height: 200px;
    box-shadow: 3px 3px 10px rgb(37, 18, 102);
    background: $background-color;
    transition-property: box-shadow, transform;
    transition-duration: 0.2s;
    flex-grow: 1;
    margin-right: 10px;
    margin-top: 10px;
    color: $background-color-light;
    &:hover {
      box-shadow: 10px 10px 20px rgb(37, 18, 102);
      transform: scale(1.1);
    }
  }

  .work-see-more {
    margin-top: 4em;
  }
}

.experience {
  height: auto;
  background-image: url("./images/grijze-streep-3.png");
  background-size: cover;
  padding-left: 50px;

  .experience-heading {
    color: $background-color-light;
  }

  .experience-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 1000px;
    margin-top: 2em;
    opacity: 0.95;
  }

  .experience-item {
    background-color: $background-color-2;
    width: 45%;
    min-width: 270px;
    margin-bottom: 2px;
    padding: 10px;
    border: 2px solid $border-color;
    display: flex;
    flex-direction: column;
    h3 {
      order: 1;
    }
    img {
      margin: 0 auto;
      order: 4;
      width: 80px;
      height: 80px;
    }
    .experience-item-info {
      order: 3;
    }
    .experience-item-date {
      order: 2;
      font-size: 0.8rem;
    }
  }

  .experience-item-italki img {
    height: 60px;
  }

  .experience-item-techgrounds img {
    width: 100px;
    height: 50px;
    padding-top: 1.3em;
  }

  .experience-item-teacher img {
    width: 100px;
    height: 50px;
  }

  .experience-see-more {
    margin-top: 4em;
    .see-more-text {
      color: $background-color-light;
    }
  }
}

.contact {
  padding-left: 50px;
  padding-top: 8em;
  height: 100vh;
  background-color: $background-color-super-light;
  background-image: url("./images/bibw-d-body-bottom-quote-water.png");

  .contact-heading {
    color: $background-color;
    text-shadow: 3px 3px 10px rgb(173, 154, 238);
    opacity: 0.8;
  }

  form {
    opacity: 0.9;
    width: 85%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px rgb(61, 28, 248);
    background: rgb(55, 13, 104);
  }

  .name-mail-container {
    display: flex;
  }

  .name,
  .mail {
    width: 50%;
    border: 1px solid $border-color;
  }

  .name input,
  .mail input,
  .subject input,
  .message textarea {
    width: 100%;
    height: 40px;
    background: $background-color-2;
    color: white;
    border: none;
    &::placeholder {
      color: white;
    }
  }

  .subject,
  .message {
    border: 1px solid $border-color;
  }

  .message textarea {
    height: 8em;
  }

  .form-buttons-container {
    display: flex;
    width: 100%;
  }

  .form-buttons-container input {
    width: 50%;
    background: $background-color-2;
    color: white;
  }
}

@media (max-width: 767px) {
  .see-more-text {
    font-size: 1.2rem;
  }

  .arrow {
    z-index: -1;
  }

  main {
    width: 100%;
    margin-top: 50px;
    left: 0;
  }

  .welcome {
    height: 90vh;
  }

  .welcome-heading-bg {
    height: 50vh;
  }

  .welcome-heading {
    min-width: 300px;
  }

  .skills-intro {
    width: 80%;
    margin: 0 auto;
    min-width: auto;
  }

  .skills-container {
    flex-wrap: wrap;
    gap: 30px;
  }

  .skills-see-more {
    margin-top: 3em;
  }
}
